.miletag {
	font-weight: bold;
	font-family: "Helvetica Neue";
	color: #222;
}

.datetag {
	font-weight: bold;
	font-family: "Helvetica Neue";
	color: #222;
}

.durationtag {
	font-weight: bold;
	font-family: "Helvetica Neue";
	color: #222;
	
}
.h3 {
	font-weight: bold;
	font-family: "Helvetica Neue";
	color: #696969;
}
.button.tiny {
	background-color: #7f0000;
	
}